repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.1
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
        exclude: &fixtures ^tests/fixtures/.+\.py$
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - mccabe==0.7.0
          - pycodestyle==2.14.0
          - pyflakes==3.4.0
          - Flake8-pyproject==1.2.3
        files: ^(python_typing_update|script|tests)/.+\.py$
        exclude: *fixtures
  - repo: https://github.com/PyCQA/isort
    rev: 8.0.0
    hooks:
      - id: isort
        exclude: *fixtures
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: .+\.md
      - id: end-of-file-fixer
