name: Release

on:
  release:
    types:
      - published

env:
  DEFAULT_PYTHON: "3.13"

jobs:
  release-pypi:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: PyPI
      url: https://pypi.org/project/python-typing-update/
    permissions:
      id-token: write  # Required for publishing with OIDC to PyPI
      contents: write  # Required to upload release assets
    steps:
      - name: Check out code from Github
        uses: actions/checkout@v6.0.2
      - name: Set up Python ${{ env.DEFAULT_PYTHON }}
        id: python
        uses: actions/setup-python@v6.2.0
        with:
          python-version: ${{ env.DEFAULT_PYTHON }}
      - name: Build distributions
        run: |
          python -m pip install build
          python -m build
      - name: Upload to PyPI
        if: github.event_name == 'release'
        uses: pypa/gh-action-pypi-publish@v1.13.0
      - name: Upload release assets
        uses: softprops/action-gh-release@v2.5.0
        with:
          files: |
            dist/*.whl
            dist/*.tar.gz
